<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title ">Alterar página {pagina}</h3>
            </div>
            <div>
                <div class="col text-right">
                    <button class="btn btn-outline-danger" onclick="return Go('home')"><i class="la la-arrow-left"></i>&nbsp;Voltar</button>&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-info" onclick="$('#slideshow').find('.submit:first')[0].click();"><i class="la la-save"></i>&nbsp;Salvar</button>
                </div>
    		</div>
        </div>
    </div>
    <!-- END: Subheader -->
    <div class="m-content">
        <div class="row">
            <div class="col-xl-12 col-lg-8">
                <div class="m-portlet m-portlet--full-height m-portlet--tabs">
                    <div class="tab-content">
                        <div class="tab-pane active" id="slideshow">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group row">
									<div class="col-12" class="text-center">
										<br /><br /><br />
										<hr />
										<br /><br /><br />
										<h3 class="col-form-label text-center" style="display: block;">Defina uma nova imagem para a capa</h3>
                                        <form action="{myurl}img1/2/" method="post" class="col-12" id="img_upload" style="border: 0;">
                                            <div class="m-dropzone" style="border: 0;">
                                            <div class="m-dropzone__msg dz-message needsclick">
                                                <h3 class="m-dropzone__msg-title m-btn m-btn--pill btn-outline-info btn" style="padding: 16px;">Clique aqui para realizar o upload</h3>
                                            </div>
                                            </div>
                                        </form>
		                                <div id="gallery" class="col-12 row fotos-produto"><div class="col text-center"></div></div>
										<br /><br /><br />
										<hr />
                                    </div>
									<div class="col-12" class="text-center"><br /><br /><br /></div>
									<div class="col-5" class="text-center">
										<br /><br /><br />
										<br /><br /><br />
										<br /><br /><br />
										<h3 class="col-form-label text-center" style="display: block;">Defina uma nova imagem para esta area</h3>
                                        <form action="{myurl}img2/2/" method="post" class="col-12" id="img_upload2" style="border: 0;">
                                            <div class="m-dropzone" style="border: 0;">
                                            <div class="m-dropzone__msg dz-message needsclick">
                                                <h3 class="m-dropzone__msg-title m-btn m-btn--pill btn-outline-info btn" style="padding: 16px;">Clique aqui para realizar o upload</h3>
                                            </div>
                                            </div>
                                        </form>
		                                <div id="gallery2" class="col-12 row fotos-produto"><div class="col text-center"></div></div>
                                    </div>
									<!-- <div class="col-12" class="text-center"><br /></div> -->
									<div class="col-6">
										<h3 class="col-form-label" style="display: block;">Conteudo da p&aacute;gina</h3>
										<div style="height: 300px" class="summernote col-12">{txt1}</div>
									</div>

									<div class="col-12 mt-4" class="text-center">
										<br /><br /><br />
										<hr />
										<br /><br /><br />
										<h3 class="col-form-label text-center" style="display: block;">Defina uma nova imagem para o texto parallax</h3>
                                        <form action="{myurl}img3/2/" method="post" class="col-12" id="img_upload3" style="border: 0;">
                                        <div class="m-dropzone" style="border: 0;">
                                            <div class="m-dropzone__msg dz-message needsclick">
                                                <h3 class="m-dropzone__msg-title m-btn m-btn--pill btn-outline-info btn" style="padding: 16px;">Clique aqui para realizar o upload</h3>
                                            </div>
                                        </div>
                                        </form>
		                                <div id="gallery3" class="col-12 row fotos-produto"><div class="col text-center"></div></div>
										<br /><br /><br />
										<hr />
                                    </div>
									<div class="col-12" class="text-center"><br /><br /><br /></div>
									<div class="offset-3 col-6 mt-2">
										<h3 class="col-form-label" style="display: block;">Conteudo da divis&atilde;o</h3>
										<div style="height: 300px" class="summernote col-12">{txt2}</div>
									</div>
									<div class="col-12" class="text-center"><br /><h2>Processos</h2><hr><br /></div>
									<div class="col-4 mt-2">
										<h3 class="col-form-label" style="display: block;">Bloco 01</h3>
										<div style="height: 300px" class="summernote col-12">{txt3}</div>
									</div>
									<div class="col-4 mt-2">
										<h3 class="col-form-label" style="display: block;">Bloco 02</h3>
										<div style="height: 300px" class="summernote col-12">{txt4}</div>
									</div>
									<div class="col-4 mt-2">
										<h3 class="col-form-label" style="display: block;">Bloco 03</h3>
										<div style="height: 300px" class="summernote col-12">{txt5}</div>
									</div>
                                </div>
                                <div class="col-12"><br></div>
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
								<div class="m-form__actions">
									<div class="row">
                                        <div class="col-12"><br>
										</div>
                                        <div class="col-md-4">
										</div>
                                        <div class="col-md-4 text-right">
											<button class="btn btn-info submit btn-block" onclick="saveFormData()"><i class="la la-save"></i>&nbsp;Salvar</button>
										</div>
                                            <div class="col-12"><br>
    										</div>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script lwdk-addons lwdk-vars="on" src="js/forms/conteudos-fixos2.js"></script>
