<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title">{TITLE}</h3>
            </div>
            <div>
                <div class="col text-right">
                    <button class="btn btn-outline-danger" onclick="return Go('financeiro/listar')"><i class="la la-arrow-left"></i><span class="d-none d-md-inline">&nbsp;Voltar</span></button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-info" onclick="$('.submit:first')[0].click();"><i class="la la-save"></i><span class="d-none d-md-inline">&nbsp;{botao-txt}</span></button>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->
    <div class="m-content">
        <div class="row">
            <div class="col-xl-12 col-lg-8">
                <div class="m-portlet m-portlet--full-height m-portlet--tabs">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link active" style="font-size: 18px;" data-toggle="pill" href="#dados_lanc-fin">Produtos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="font-size: 18px;" data-toggle="pill" href="#dados_contas-fixas">Contas Fixas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="font-size: 18px;" data-toggle="pill" href="#dados_contas-var">Gastos Variáveis</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="dados_contas_geral">
                        <div class="tab-pane active" id="dados_lanc-fin">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group row">
                                    <div class="col-md-2 col-0">
                                        <br />
                                    </div>
                                    <div class="card-body form-group col-12 mb-3 col-md-8">
                                        <h3 class="font-weight-semi-bold pt-3">Produtos para Lançar</h3>
                                        <div class="row justify-content-center">
                                            <div class="form-wrapper repeater-instance row">
                                                <div class="col-md-10 col-sm-12">
                                                    <p class="text-left">
                                                        Administre e gerencie os <strong>produtos</strong> a serem lançados.<br />
                                                        <br />
                                                        <br />
                                                    </p>
                                                </div>
                                                <div class="col-md-12 col-sm-12 text-right" style="clear: both;"><button
													class="btn btn-dark btn-modern text-uppercase border-radius-2 font-weight-bold text-3 py-3 mx-2"
													data-repeater-create=""
													onmouseenter="$(this).css({backgroundColor: '#000'});"
													onmouseleave="$(this).css({backgroundColor: '#566'});"
													style="background-color: #566; padding: 12px 16px; bottom: 10px; transition: background-color 150ms ease-in;"
												>
													Adicionar outro produto para lançamento
												</button>
												<button
													class="btn btn-info btn-modern text-uppercase border-radius-2 font-weight-bold text-3 py-3 mx-2"
													onmouseenter="$(this).css({backgroundColor: '#000'});"
													onmouseleave="$(this).css({backgroundColor: '#44b'});"
													style="background-color: #44b; padding: 12px 16px; bottom: 10px; transition: background-color 150ms ease-in;"
													onclick="if(data=prompt('Determine uma data para TODOS os produtos a serem lançados que já foram adicionados até agora nesta página\n\n (formato: dia/mes/ano):', '')){
														$('.prod[data-name=\'data\']').val(data.split(/[^0-9]/).reverse().join('-'));
													}"
												>
													Padronizar Datas
												</button></div>
                                                <div data-repeater-list="">
                                                    <div data-repeater-item="" class="produto-lanc-fin row my-3 p-1 mb-1 content-align-justify">
                                                        <div class="form-group col-12 mb-3 row p-0 m-0">
                                                            <div class="col-md-4 col-12 mb-3">
                                                                <label>
                                                                    <strong>Produto <span class="index">1</span></strong>
                                                                </label>
                                                            </div>
                                                            <div class="col-md-8 col-12 mb-3" style="text-align: right;">
                                                                <button data-repeater-delete="" class="btn btn-outline btn-danger mb-2">REMOVER</button>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-12 mb-3 row p-0 m-0">
                                                            <div class="col-lg-9 col-md-10 col-12 mb-3 p-4 mb-3">
                                                                <label>Preencher Automaticamente</label>
                                                                <div class="input-group">
                                                                    <select class="form-control m-bootstrap-select m_selectpicker" data-live-search="true" onchange="listar_produto(this)">
                                                                        <option disabled selected class="m--hide">Selecione um produto para carregar automaticamente</option>
                                                                        {produtos-lanc-fin}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-12 mb-3 row p-0 m-0">
                                                            <div class="col-lg-6 col-md-8 col-sm-12 p-4 mb-3">
                                                                <label>Nome do Produto:</label>
                                                                <div class="input-group">
                                                                    <input type="text" data-name="nome" class="form-control m-input prod" placeholder="" data-option="text" />
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3 col-md-6 col-sm-12 p-4 mb-3">
                                                                <label>Patrimonio:</label>
                                                                <div class="input-group">
                                                                    <input type="text" data-name="patrimonio" class="form-control m-input prod" placeholder="" data-option="text" />
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3 col-md-6 col-sm-12 p-4 mb-3">
                                                                <label>Data:</label>
                                                                <div class="input-group">
                                                                    <input style="font-size: 12px;" type="date" data-name="data" class="form-control m-input prod" placeholder="" value="{data}" data-option="text" />
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3 col-md-6 col-sm-12 p-4 mb-3">
                                                                <label>Valor do produto:</label>
                                                                <div class="input-group">
                                                                    <input type="text" data-name="valor" class="form-control m-input prod money" placeholder="" data-option="text" />
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 p-4 mb-3">
                                                                <label>Observações:</label>
                                                                <div class="input-group">
                                                                    <input type="text" data-name="obs" class="form-control m-input prod" placeholder="" data-option="text" />
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3 col-md-6 col-sm-12 p-4 mb-3">
                                                                <label>Tipo:</label>
                                                                <div class="input-group">
                                                                    <select data-name="tipo" class="form-control prod" placeholder="" data-option="text">
                                                                        <option>Venda</option>
                                                                        <option>Aluguel</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="text-center">
                                                    <hr />
                                                    <br />
                                                    <br />
													<button
                                                        class="btn btn-dark btn-modern text-uppercase border-radius-2 font-weight-bold text-3 py-3"
                                                        data-repeater-create=""
                                                        onmouseenter="$(this).css({backgroundColor: '#000'});"
                                                        onmouseleave="$(this).css({backgroundColor: '#566'});"
                                                        style="position: absolute; right: 10px; background-color: #566; padding: 12px 16px; bottom: 10px; transition: background-color 150ms ease-in;"
                                                    >
                                                        Adicionar outro produto para lançamento
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="dados_contas-fixas">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group row">
                                    <div class="col-md-2 col-0">
                                        <br />
                                    </div>
                                    <div class="card-body form-group col-12 mb-3 col-md-8">
                                        <div class="row form-group m-form__group">
                                            <div class="col-md-4 offset-md-4">
                                                <label>Pesquisar:</label>
                                                <input class="pesquisa form-control m-form--fit" type="text" />
                                            </div>
                                        </div>
                                        <div class="row form-group m-form__group repeater-instance">
                                            <div data-repeater-list="" class="col-12">
                                                <div data-repeater-item="" class="row m--margin-bottom-10">
                                                    <div class="col-md-10 col-10">
                                                        <div class="input-group">
                                                            <input data-name="nome" type="text" style="width: 45%;" class="form-control m-input conta-fixa" placeholder="Nome da Conta" data-option="text" />

                                                            <input data-name="valor" type="text" style="width: 25%;" class="form-control m-input money conta-fixa" placeholder="Valor" data-option="text" />

                                                            <input data-name="data" value="{data}" type="date" style="width: 30%;" class="form-control m-input conta-fixa" placeholder="Data pgto" data-option="text" />
                                                        </div>
                                                    </div>
                                                    <button data-repeater-delete="delete" class="m--hide btn btn-outline-danger m-btn m-btn--icon"><i class="la la-trash"></i></button>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <br />
                                                <hr />
                                                <br />
                                            </div>
                                            <div class="col-6 offset-3 text-center">
                                                <div data-repeater-create="" class="btn btn-outline-success m-btn m-btn--icon">
                                                    <span>
                                                        <i class="la la-plus"></i>
                                                        <span>Adicionar Opção</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="dados_contas-var">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group row">
                                    <div class="col-md-2 col-0">
                                        <br />
                                    </div>
                                    <div class="card-body form-group col-12 mb-3 col-md-8">
                                        <div class="row form-group m-form__group">
                                            <div class="col-md-4 offset-md-4">
                                                <label>Pesquisar:</label>
                                                <input class="pesquisa form-control m-form--fit" type="text" />
                                            </div>
                                        </div>
                                        <div class="row form-group m-form__group repeater-instance">
                                            <div data-repeater-list="" class="col-12">
                                                <div data-repeater-item="" class="row m--margin-bottom-10">
                                                    <div class="col-md-10 col-10">
                                                        <div class="input-group">
                                                            <input data-name="nome" type="text" style="width: 45%;" class="form-control m-input gasto-var" placeholder="Descrição" data-option="text" />

                                                            <input data-name="valor" type="text" style="width: 25%;" class="form-control m-input money gasto-var" placeholder="Valor" data-option="text" />

                                                            <input data-name="data" value="{data}" type="date" style="width: 30%;" class="form-control m-input gasto-var" placeholder="Data" data-option="text" />
                                                        </div>
                                                    </div>
                                                    <button data-repeater-delete="delete" class="m--hide btn btn-outline-danger m-btn m-btn--icon"><i class="la la-trash"></i></button>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <br />
                                                <hr />
                                                <br />
                                            </div>
                                            <div class="col-6 offset-3 text-center">
                                                <div data-repeater-create="" class="btn btn-outline-success m-btn m-btn--icon">
                                                    <span>
                                                        <i class="la la-plus"></i>
                                                        <span>Adicionar Opção</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions">
                                <div class="row">
                                    <div class="col-12 mb-3"><br /></div>
                                    <div class="col-md-4 col-8"></div>
                                    <div class="col-md-4 col text-right px-4">
                                        <button class="btn btn-info submit btn-block"><i class="la la-save"></i>&nbsp;{botao-txt}</button>
                                    </div>
                                    <div class="col-12 mb-3"><br /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script lwdk-addons lwdk-vars="on" src="js/forms/repeater.js"></script>
<script lwdk-addons lwdk-vars="on" src="js/forms/financeiro.js"></script>
