<!DOCTYPE html>
<html>
    <head>
        <base href="/" />
        <link href="assets/demo/base/style.bundle.css" rel="stylesheet" type="text/css" />
        <meta charset="utf-8" />
		<style>
			@media only screen {
				body, html, * {
					display: none!important;
					opacity: 0!important;
					visibility: hidden!important;
				}
			}
		</style>
    </head>
    <body>
        <div class="row p-4" style="font-family: Arial;">
			<div class="col-12 p-2 text-right" style="font-size: 16px;">CONTRATO&nbsp;{matricula}</div>

			<div class="col-12 text-center p-2" style="font-size: 32px;">
                Contrato de Prestação de Serviços<br />
                <br />
            </div>

            <div class="col-12 p-2" style="font-size: 13px; text-align: justify;">Pelo presente Instrumento Particular de Contrato de Prestação de Serviços, que firmam as partes:</div>

            <div class="col-12 p-2" style="font-size: 13px; text-align: justify;">
                Como Contratada: <b>Registra Imóvel</b>, inscrita no CNPJ  42.113.626/0001-54, com sede na Rua Mantiqueira,  1505, Cidade Contagem, Estado MG, CEP: 32.280-620,
                <b>Escritório de atendimento ao público, na cidade de Pompeu, situado na Rua Osvaldo Alves,  183, Bairro Centro</b>, CEP 35.640-000.
            </div>

            <div class="col-12 p-2" style="font-size: 13px; text-align: justify;">
                Como Contratante: <b>{nome}</b>, inscrito no CPF  {doc}, Cédula Identidade {rg}, Brasileiro(a), Maior, Capaz, {profissao}, {estado-civil}, residente na {rua},  {numero},
                Bairro {bairro}, Cidade {cidade}, Estado {estado}, CEP {cep}, Telefone {tel1} {tel2} {tel3}, e-mail {email}, Filiação {pai} e {mae}.
            </div>

            <div class="col-12 p-2" style="font-size: 13px; text-align: justify;">
                Ambos devidamente representados na forma legal, têm entre si justo e acordado o presente Contrato de Prestação de Serviços, que se regerá pelas cláusulas e condições seguintes:
            </div>

            <div class="col-12 p-2" style="font-size: 15px; font-weight: bold; margin-top: 30px; text-align: justify;">01. DO OBJETO DO CONTRATO</div>

            <div class="col-12 p-2" style="font-size: 13px; text-align: justify;">
                1.1. O presente Contrato de Prestação de Serviços tem como objeto, a prestação de serviços pela CONTRATADA ao CONTRATANTE, de qualquer dos serviços, relacionados abaixo, nas áreas de Regularização Fundiária de Imóveis
                Urbanos – REURB, de posse do CONTRATANTE:
            </div>

            <div class="col-12 p-2" style="font-size: 13px; text-align: justify;">
                a) Tramitação, junto ao Município de Pompéu/MG, de todo o processo de Regularização Fundiária abrangidos pela Lei 13.465/2017(REURB) e Legislação do Município de Pompéu/MG que atenda o contexto dos Processos de Regularização
                Fundiária, nos moldes da REURB;
            </div>
            <div class="col-12 p-2" style="font-size: 13px; text-align: justify;">
                b) Levantamento Topográfico dos imóveis, objeto do Processo de Regularização Fundiária conforme preceitua a Lei 13.465/2017 e Legislação pertinente ao Município de Pompéu/MG;
            </div>
            <div class="col-12 p-2" style="font-size: 13px; text-align: justify;">
                c) Acompanhamento do Processo de Regularização Fundiária no âmbito do Município de Pompéu/MG, em todas as suas etapas de tramitação até a conclusão do processo junto ao Órgão Municipal, com a emissão da CRF – Certidão de
                Regularização Fundiária, que deverá ser apresentada ao Cartório de Registros do Município de Pompeu, em um prazo máximo de 180 (Cento e oitenta dias) após sua emissão;
            </div>

            <div class="col-12 p-2" style="font-size: 15px; font-weight: bold; margin-top: 30px; text-align: justify;">02. DO PRAZO DO CONTRATO.</div>

            <div class="col-12 p-2" style="font-size: 13px; text-align: justify;">
                2.1. Esse Contrato vigorará entre as partes por prazo indeterminado, podendo ser rescindido, anteriormente às medições, sem qualquer ônus ou penalidade, mediante prévio aviso escrito com 30 (trinta) dias de antecedência.
            </div>
            <div class="col-12 p-2" style="font-size: 13px; text-align: justify;">
                2.2. Em caso de rescisão, desmotivada, por iniciativa do CONTRATANTE, anterior a emissão da CRF – Certidão de Regularização Fundiária e posterior às medições do imóvel, o CONTRATANTE deverá pagar ao CONTRATADO, o valor
                referente a 30% (trinta por cento) do valor do Contrato sem desconto, estipulado no 3.1 deste diploma, para arcar com as despesas de medições, ARTs, comissões e despesas administrativas.
            </div>

            <div class="col-12 p-2" style="font-size: 15px; font-weight: bold; margin-top: 30px; text-align: justify;">03. DO PREÇO E CONDIÇÕES DE PAGAMENTO</div>

            <div class="col-12 p-2" style="font-size: 13px; text-align: justify;">3.1. O preço pela prestação dos serviços objeto desse Contrato é de {valor-venda-real} ({valor-venda-ext}).</div>

            <div class="col-12 p-2" style="font-size: 13px; text-align: justify;">
                3.2. {texto-parcela}
            </div>

            <div class="col-12 p-2" style="font-size: 13px; text-align: justify;">
                3.3. Serão isentos das custas e emolumentos, aqueles imóveis entendidos como REURB-S, sendo que, nestes casos, para a averbação gratuita da edificação existente no lote, tal edificação deverá ser de até 70 m² (Setenta metros
                quadrados) de acordo com a legislação vigente.
            </div>

            <div class="col-12 p-2" style="font-size: 13px; text-align: justify;">
                3.4. O atraso no pagamento das parcelas mensais assumidas neste contrato acarretará na responsabilidade pelo pagamento, acrescido de multa de 5%, mais juros de 2% ao mês, pro rata die.
            </div>

            <div class="col-12 p-2" style="font-size: 13px; text-align: justify;">
                PARÁGRAFO PRIMEIRO: Havendo mais de uma parcela em atraso somente será permitida a purgação da mora caso ocorra, simultaneamente, o pagamento de todos as parcelas em atraso, salvo deliberação da CONTRATADA autorizando o
                pagamento parcelado.
            </div>

            <div class="col-12 p-2" style="font-size: 13px; text-align: justify;">
                PARÁGRAFO SEGUNDO: O recibo de pagamento da última parcela vencida não presume quitação da anterior e o simples pagamento dos encargos, sem atualização monetária, acréscimos moratórios e demais encargos contratuais e legais
                não exonerará o CONTRATANTE da responsabilidade de liquidar tais obrigações, continuando em débito para todos os efeitos legais e contratuais.
            </div>

            <div class="col-12 p-2" style="font-size: 13px; text-align: justify;">
                3.5. Vencidas e não pagas 02(duas) parcelas sucessivas ou alternadas, o CONTRATANTE será notificado judicial ou extrajudicialmente (Ex.: e-mail, Whatsapp, SMS, carta, redes sociais), a requerimento da CONTRATADA, a
                satisfazer dentro do prazo de 72 (setenta e duas) horas contadas do recebimento da notificação, as parcelas vencidas, vincendas e as custas de notificação. Vencido o prazo da notificação, sem que as parcelas sejam quitadas,
                terá a CONTRATADA a seguinte opção:
            </div>

            <div class="col-12 p-2" style="font-size: 13px; text-align: justify;">
                a) O saldo devedor remanescente terá seu vencimento antecipado, servindo este contrato como título executivo , líquido certo e exigível, sendo o montante devido acrescido a multa de 10%(dez por cento), sobre o valor do
                contrato, juros legais, atualização monetária com base no IGP-M, honorários advocatícios na base de 10% (dez por cento) do valor total do débito em sendo caso de cobrança amigável ou extrajudicial e 20% (vinte por cento) do
                valor total do débito em se tratando de cobrança judicial, além das custas e despesas processuais ou extraprocessuais a que der causa, independentemente de qualquer outro aviso, notificação ou interpelação judicial ou
                extrajudicial, uma vez que, estará caracterizada e constituída a mora do CONTRATANTE.
            </div>

            <div class="col-12 p-2" style="font-size: 13px; text-align: justify;">
                3.6. O valor que se refere o item 2.2 deste diploma é passivo de execução, uma vez rescindido o Contrato de Prestação de Serviços, posterior às medições, tendo em vista os custos obtidos pela CONTRATADA, para execução dos
                mesmos.
            </div>

            <div class="col-12 p-2" style="font-size: 15px; font-weight: bold; margin-top: 30px; text-align: justify;">04. DAS OBRIGAÇÕES DA CONTRATADA</div>

            <div class="col-12 p-2" style="font-size: 13px; text-align: justify;">
                4.1. A CONTRATADA obriga-se a: <br />
                <br />
                a) Cumprir fielmente todas as obrigações ora acordadas; <br />
                b) Disponibilizar, a qualquer tempo, cópia de todos os documentos alusivos ao processo do CONTRATANTE, prestando sempre que consultada, todas as informações sobre a tramitação do Processo de Regularização Fundiária, objeto
                do presente Contrato.
            </div>

            <div class="col-12 p-2" style="font-size: 15px; font-weight: bold; margin-top: 30px; text-align: justify;">05. DAS OBRIGAÇÕES DO CONTRATANTE</div>

            <div class="col-12 p-2" style="font-size: 13px; text-align: justify;">
                5.1. O CONTRATANTE obriga-se a: <br />
                <br />
                a) Cumprir fielmente todas as obrigações ora acordadas; <br />
                b) Disponibilizar todos os documentos acerca do imóvel em Processo de Regularização Fundiária; <br />
                c) Disponibilizar todos os documentos pessoais dos responsáveis pelo Processo de Regularização Fundiária; <br />
                d) Proceder, dentro dos prazos acordados, todos os pagamentos dos valores acordados no presente Contrato de Prestação de Serviços.
            </div>

            <div class="col-12 p-2" style="font-size: 15px; font-weight: bold; margin-top: 30px; text-align: justify;">06. DA CONFIDENCIALIDADE</div>

            <div class="col-12 p-2" style="font-size: 13px; text-align: justify;">
                6.1. Cada uma das partes, por si e por seus funcionários compromete-se a manter como confidenciais, os termos deste Contrato e de todas as outras informações e conhecimentos não públicos, recebidos em decorrência desse
                Contrato, objetivando sua execução, não podendo torná-las acessíveis a quaisquer terceiros sem concordância expressa da outra parte.
            </div>

            <div class="col-12 p-2" style="font-size: 15px; font-weight: bold; margin-top: 30px; text-align: justify;">07. DAS RESPONSABILIDADES TRABALHISTAS</div>

            <div class="col-12 p-2" style="font-size: 13px; text-align: justify;">
                7.1. O presente Contrato não estabelece qualquer relação de emprego entre o CONTRATANTE e os empregados da CONTRATADA, sendo a última citada a única e exclusiva responsável pela contratação, pagamento e demissão de seus
                funcionários, durante o prazo de vigência desse Contrato.
            </div>

            <div class="col-12 p-2" style="font-size: 15px; font-weight: bold; margin-top: 30px; text-align: justify;">08. DAS DISPOSIÇÕES GERAIS</div>

            <div class="col-12 p-2" style="font-size: 13px; text-align: justify;">
                8.1. É expressamente vedada a cessão ou transferência desse Contrato a terceiros, salvo de comum acordo entre as partes.<br />
                8.2. Todos os entendimentos sobre o andamento ou alteração do objeto, termos e condições desse Contrato, deverão ser mantidos por escrito, mediante Termos Aditivos assinados pelos representantes legais das partes, sendo
                certo que acordos verbais não produzirão quaisquer efeitos entre elas.<br />
                8.3. Esse Contrato foi ajustado dentro dos princípios da boa-fé e probidade, sem qualquer vício de consentimento.
            </div>

            <div class="col-12 p-2" style="font-size: 15px; font-weight: bold; margin-top: 30px; text-align: justify;">09. DO FORO</div>

            <div class="col-12 p-2" style="font-size: 13px; text-align: justify;">
                09.1. As partes elegem o foro da comarca de POMPEU / MG, Estado de Minas Gerais, para dirimir questões decorrentes desse Contrato, com exclusão de qualquer outro por mais privilegiado que seja. E por estarem justas e
                contratadas, as partes firmam o presente Contrato em 02 (duas) vias de iguais teor e forma, perante as testemunhas abaixo, para que produza todos os efeitos de direito.
            </div>

            <div class="col-12 p-2" style="font-size: 13px; text-align: right;">
                <br />
                <br />
                <i>
                    Pompéu/MG, {dia} de {mes} de {ano} <br />
                    <br />
                    <div class="d-inline-block text-center">
                        _______________________________________________________________ <br />
                        <b>LOCAL E DATA</b>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                </i>
            </div>

            <div class="col-6 p-2" style="font-size: 16px; text-align: center;">
                ____________________________________________ <br />
                <i>CONTRATANTE</i> <br />
                <b>{nome} <br /></b>
                <b>
                    CPF.: {doc} <br />
                    <br />
                    <br />
                    <br />
                </b>
            </div>
            <div class="col-6 p-2" style="font-size: 16px; text-align: center;">
                _____________________________________________ <br />
                <i>CONTRATADA</i> <br />
                <b>Registra Imóvel <br /></b>
                <b>
                    CNPJ  42.113.626/0001-54 <br />
                    <br />
                    <br />
                    <br />
                </b>
            </div>
            <div class="col-6 p-2" style="font-size: 16px; text-align: center;">
                ______________________________________________ <br />
                <i>Testemunha</i><br />
            </div>
            <div class="col-6 p-2" style="font-size: 16px; text-align: center;">
                ______________________________________________ <br />
                <i>Testemunha</i><br />
            </div>
        </div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
        <script src="vendors/popper.js/dist/umd/popper.js" type="text/javascript"></script>
        <script src="vendors/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="vendors/tooltip.js/dist/umd/tooltip.min.js" type="text/javascript"></script>

        <script>
            window.print();
            setTimeout(() => window.close(), 800);
        </script>
    </body>
</html>
