<!DOCTYPE html>
<html>
    <head>
        <base href="/" />
        <link href="assets/demo/base/style.bundle.css" rel="stylesheet" type="text/css" />
        <meta charset="utf-8" />
        <style>
            @media only screen {
                body,
                html,
                * {
                    display: none !important;
                    opacity: 0 !important;
                    visibility: hidden !important;
                }
            }
        </style>
    </head>
    <body>
        <div class="row p-4" style="font-family: Arial;">
            <div class="col-12 text-center" style="font-size: 32px; font-weight: bold;">PROCURAÇÃO</div>

            <div class="col-10 offset-1 p-4 text-justify" style="font-size: 14px;">
                <span style="display: inline-block; width: 32px;">&nbsp;</span>&nbsp;<b>OUTORGANTE: {nome}</b>, inscrito(a) no CPF n° <b>{doc}</b>, Cédula Identidade {rg}, {nacionalidade}, Maior, Capaz, Filiação
                {pai} e {mae}, residente na <b>Rua {rua}, n° {numero}, Bairro {bairro}, Cidade {cidade}, Estado {estado}, CEP {cep}</b>, Telefone {tel1} {tel2} {tel3}, e-mail {email}, nomeio
            </div>
            <div class="col-10 offset-1 p-4 text-justify" style="font-size: 14px;">
                <span style="display: inline-block; width: 32px;">&nbsp;</span>&nbsp;<b>OUTORGADO: Registra Imóvel</b>, inscrita no CNPJ n° <b>42.113.626/0001-54</b>, com sede na <b>Rua Mantiqueira, n° 1505, Cidade Contagem, Estado MG, CEP: 32.280-620</b>, Escritório de atendimento ao público, na cidade de Pompeu, situado na <b>Rua
                Osvaldo Alves, n° 183, Bairro Centro, CEP 35.640-000</b>, inscrita no CNPJ sob o N.º 42.113.626/0001-54, neste ato representada por Wagner Lemos Gaspar, brasileiro, casado, contador, residente e domiciliado à Rua Conde de
                Prados, N.º 63 Apto 101, Bairro Padre Eustáquio, Cidade de Belo Horizonte/MG CEP 30.720-150, portador do CRC MG 063-620/0, CPF 360.128.406-59, e Cínthia Duarte Pires, brasileira, solteira, estudante, residente à Rua João
                Machado, N.º 390, Bairro Centro, Cidade de Pompéu/MG CEP 35.640-000, portadora do CPF 119.100.916-5050 e Marcelo Teixeira, Brasileiro, Casado, Advogado, residente à Rua Vicente Ribeiro de Paula, N.º 335, Bairro Quintas
                Coloniais, Cidade de Contagem/MG, CEP 32.044-560, portador de OAB/MG 117.268, CPF.: 758.478.336-87.
            </div>

            <div class="col-10 offset-1 p-4 text-justify" style="font-size: 14px;">
                <span style="display: inline-block; width: 32px;">&nbsp;</span>&nbsp;Com poderes específicos referentes aos procedimentos de tramitação, solicitação de informações e acompanhamento, do processo de Regularização Fundiária – REURB – de imóvel de minha propriedade, em consonância com a Lei
                Federal 13.465/2017, bem como de acordo com a legislação municipal, junto à Prefeitura Municipal de Pompéu/MG e ao Cartório de Registro de Imóveis de Pompéu/MG, podendo fazer todos os procedimentos necessários para a
                Regularização Fundiária, inclusive assinar ARTs, TRTs, Requerimentos, Memoriais Descritivos, relativos a REURB e demais documentos necessários ao cumprimento das demandas relacionadas à REURB, nos moldes da Regularização
                Fundiária e o cumprimento do Contrato de Prestação de Serviços, Nº0025C, firmado entre as partes.
            </div>

            <div class="col-10 offset-1 p-4 text-justify" style="font-size: 14px;">
                <span style="display: inline-block; width: 32px;">&nbsp;</span>&nbsp;A presente PROCURAÇÃO tem validade por prazo indeterminado, até que seja revogado por interesse das partes, ou que chegue ao fim, ou seja, emissão da CRF, onde será dado por cumprido o Contrato de Prestação de Serviços,
                firmado entre <b>{nome}</b> e a <b>Registra Imóvel</b>.
            </div>

            <div class="col-12 my-4 text-center"><b>Pompéu/MG, {dia} de {mes} de {ano}.</div>

            <div class="col-12 mt-4 text-center">_____________________________________________</div>
            <div class="col-12 text-center"><b>{nome}</b></div>
            <div class="col-12 mb-4 text-center">CPF: {doc}</div>
        </div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
        <script src="vendors/popper.js/dist/umd/popper.js" type="text/javascript"></script>
        <script src="vendors/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="vendors/tooltip.js/dist/umd/tooltip.min.js" type="text/javascript"></script>

        <script>
            window.print();
            setTimeout(() => window.close(), 800);
        </script>
    </body>
</html>
