<!DOCTYPE html>
<html>
    <head>
        <base href="/" />
        <link href="assets/demo/base/style.bundle.css" rel="stylesheet" type="text/css" />

        <meta charset="utf-8" />
        <style>
            @media only screen {
                body,
                html,
                * {
                    display: none !important;
                    opacity: 0 !important;
                    visibility: hidden !important;
                }
            }
        </style>
    </head>
    <body>
        <script>
            LWDKExec(() => {});
        </script>
        <div class="row p-4" style="font-family: Arial;">
            <div class="col-10 offset-1 text-justify my-2" style="font-size: 24px;"><span style="display: inline-block; width: 18px;">&nbsp;</span><b>Excelentíssimo Senhor Prefeito Municipal de Pompéu/MG, Presidente da Comissão de Regularização Fundiária do Município de Pompéu/MG.</b></div>

            <div class="col-10 offset-1 text-justify my-2" style="font-size: 18px;">
                <span style="display: inline-block; width: 18px;">&nbsp;</span><b>Requerente:</b> {nome}, inscrita no CPF n° {doc}, Cédula Identidade {rg}, {nacionalidade}, Maior, Capaz, Filiação
                {pai} e {mae}, residente na Rua {rua}, n° {numero}, Bairro {bairro}, Cidade {cidade}, Estado {estado}, CEP {cep}, Telefone {tel1} {tel2} {tel3}, e-mail {email}.
            </div>
            <div class="col-10 offset-1 text-justify my-2" style="font-size: 18px;">
                <span style="display: inline-block; width: 18px;">&nbsp;</span><b>Unidade a ser regularizada:</b> Imóvel urbano constituído por um lote situado à Rua {rua-imov}, n° {numero-imov}, Bairro {bairro-imov}, Cidade {cidade-imov}, Estado {estado-imov}, medindo {tamanho-imov}m² ({tamanho-imov-ext} quadrados) {edificacao} cadastrado atualmente no Cadastro Municipal de {cidade}. Conforme transcrito no documento de compra e venda do imóvel.
            </div>
            <div class="col-10 offset-1 text-justify my-2" style="font-size: 18px;">
                <!-- O imóvel de posse do(a) Senhor(a) {nome} está inserido no núcleo Bairro {bairro}, não possuindo matrícula no Cartório de Registro de Imóveis de Pompéu (conforme anexo). Dados do Núcleo Bairro {bairro}
                Município de Pompéu/MG. -->
            </div>
            <div class="col-10 offset-1 text-justify my-2" style="font-size: 18px;"><span style="display: inline-block; width: 40px;">&nbsp;</span>&nbsp;01- Os imóveis pertencentes ao Bairro {bairro} não estão localizados em área de propriedade da União ou do Estado de MG;</div>
            <div class="col-10 offset-1 text-justify my-2" style="font-size: 18px;"><span style="display: inline-block; width: 40px;">&nbsp;</span>&nbsp;02- Não apresentando imóveis inseridos em área de risco;</div>
            <div class="col-10 offset-1 text-justify my-2" style="font-size: 18px;"><span style="display: inline-block; width: 40px;">&nbsp;</span>&nbsp;03- Não ocupando áreas de APP (Área de Preservação Permanente);</div>
            <div class="col-10 offset-1 text-justify my-2" style="font-size: 18px;"><span style="display: inline-block; width: 40px;">&nbsp;</span>&nbsp;04- Não apresentando unidades às margens de reservatório artificial de água destinado à geração de energia ou ao abastecimento público;</div>
            <div class="col-10 offset-1 text-justify my-2" style="font-size: 18px;"><span style="display: inline-block; width: 40px;">&nbsp;</span>&nbsp;05- Não havendo imóveis inseridos em áreas de mananciais,</div>
            <div class="col-10 offset-1 text-justify my-2" style="font-size: 18px;"><span style="display: inline-block; width: 40px;">&nbsp;</span>&nbsp;06- Não havendo unidades em áreas de conservação de uso sustentável;</div>
            <div class="col-10 offset-1 text-justify my-2" style="font-size: 18px;"><span style="display: inline-block; width: 40px;">&nbsp;</span>&nbsp;07- Não havendo unidades imobiliárias tombadas como patrimônio histórico e cultural;</div>
            <div class="col-10 offset-1 text-justify my-2" style="font-size: 18px;"><span style="display: inline-block; width: 40px;">&nbsp;</span>&nbsp;08- Não identificamos moradores que tenham regularizado seu imóvel por usucapião;</div>
            <div class="col-10 offset-1 text-justify my-2" style="font-size: 18px;">
                <span style="display: inline-block; width: 40px;">&nbsp;</span>&nbsp;09- O Bairro {bairro} é dotado de serviço de abastecimento de água e coleta de esgoto, serviço executado pela Copasa ; rede de energia elétrica disponibilizada pela Cemig; não apresentando soluções de drenagem de aguas
                pluviais.
            </div>
            <div class="col-10 offset-1 text-justify my-2" style="font-size: 18px;"><span style="display: inline-block; width: 40px;">&nbsp;</span>&nbsp;10- Os ocupantes do Bairro {bairro} apresentam renda familiar inferior a 5 (cinco) salários mínimos;</div>
            <div class="col-10 offset-1 text-justify my-2" style="font-size: 18px;"><span style="display: inline-block; width: 40px;">&nbsp;</span>&nbsp;11- Os imóveis do Bairro {bairro} são predominantemente residenciais, não havendo zonas exclusivamente com unidades comerciais/industriais;</div>
            <div class="col-10 offset-1 text-justify my-2" style="font-size: 18px;">
                <span style="display: inline-block; width: 18px;">&nbsp;</span>Diante do exposto, requer a regularização do imóvel conforme preconizado na Lei Federal 13.465/2017, na modalidade Reurb-E (Específica) pleiteando a emissão do Certificado de Regularização Fundiária para fins de titulação do
                imóvel.
            </div>
            <div class="col-10 offset-1 text-justify my-2" style="font-size: 18px;"><span style="display: inline-block; width: 18px;">&nbsp;</span>Nestes termos, solicita-se o deferimento, oportunidade em que antecipo agradecimentos.</div>

            <div class="col-10 offset-1 text-center mb-2 pb-2" style="font-size: 24px;">
                <br />
                <br />
                <br />
                Pompéu, {dia} de {mes} de {ano}.<br />
                <br />
                <br />
            </div>

            <div class="col-10 offset-1 text-center mb-2 pb-2" style="font-size: 32px;">
                _______________________________________
                <div><strong>{nome}</strong></div>
				<br><br><br><br>
            </div>

            <div class="col-10 offset-1 text-justify my-2" style="font-size: 18px;">
                <p><b>Documentos Anexo:</b></p>
                <p>&nbsp;</p>
                <p>- Requerimento;</p>
                <p>- Procuração;</p>
                <p>- Memorial Descritivo da Unidade a ser regularizada;</p>
                <p>- Planta do Imóvel;</p>
                <p>- Planta da Quadra;</p>
                <p>- Planta do Núcleo Bairro Parque Cidade Jardim;</p>
                <p>- Declaração de Limites TRT;</p>
                <p>- CPF e Identidade do Requerente;</p>
                <p>- Comprovante de residência;</p>
                <p>- Documentos do Imóvel;</p>
                <p>- Requerimento de Certidão do Registro de Imóveis comprovando a inexistência de Matrícula do referido imóvel.</p>
            </div>
        </div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
        <script src="vendors/popper.js/dist/umd/popper.js" type="text/javascript"></script>
        <script src="vendors/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="vendors/tooltip.js/dist/umd/tooltip.min.js" type="text/javascript"></script>

        <script>
            window.print();
            setTimeout(() => window.close(), 800);
        </script>
    </body>
</html>
