<!DOCTYPE html>
<html lang="pt-br">
    <head itemscope itemtype="https://schema.org/WebSite">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107211976-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "UA-107211976-1");

            const LWDKExec = (window.LWDKExec = (fn, _ = true) => {
                document.addEventListener("DOMContentLoaded", fn, _);
            });

            const LWDKInitFunction = (window.LWDKInitFunction = {
                addFN: new Function(),
                exec: new Function(),
            });

            const LWDKLocal = "{myurl}";
        </script>
        <!--=============== basic  ===============-->
        <meta charset="utf-8" />
        <base href="{mydomain}" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
        <meta name="robots" content="index,follow" />
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title itemprop="name">Amparar - Aluguel, Venda, Compra e Reforma de equipamentos médicos-ortopédicos</title>
        <link rel="canonical" href="https://ampararbh.com.br" itemprop="url" />
        <meta name="description" content="Cadeiras de Rodas, Muletas, Cadeiras de Banho, Camas Hospitalares, Andadores" />
        <meta name="keywords" content="Aluguel, Venda, Compra e Reforma de equipamentos médicos-ortopédicos" />
        <meta name="author" content="https://ampararbh.com.br" />
        <meta name="robots" content="index, follow" />
        <meta property="og:site_name" content=" Amparar - Aluguel, Venda, Compra e Reforma de equipamentos médicos-ortopédicos " />
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="pt_BR" />
        <meta property="og:title" content="Amparar" />
        <meta property="og:description" content="Aluguel, Venda, Compra e Reforma de equipamentos médicos-ortopédicos" />
        <meta property="og:url" content="https://ampararbh.com.br" />
        <meta property="og:image" content="https://ampararbh.com.br/images/02.jpg" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <link href="https://ampararbh.com.br/favicon.ico" rel="shortcut icon" />
        <link href="https://ampararbh.com.br/favicon.png" rel="shortcut icon" />
        <link href="https://ampararbh.com.br/favicon.png" rel="apple-touch-icon" />
        <link href="https://ampararbh.com.br/favicon.png" rel="shortcut icon" type="image/x-icon" />
        <style>
            @import "//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css";

            .text-black-1 {
                color: #111 !important;
            }

            .text-white-1 {
                color: #eee !important;
            }

            .d-md-show {
                display: none;
            }

            @media screen and (max-width: 1100px) {
                .d-md-none {
                    display: none !important;
                }

                .d-md-show {
                    display: initial !important;
                }
            }

            .dataTables_filter {
                margin-bottom: 36px;
                margin-top: 4px;
            }

            .dataTables_length {
                margin-bottom: 36px;
                margin-top: 4px;
                text-transform: capitalize;
                width: 178px;
                margin-left: calc(84px - 2vw);
            }

            .dataTables_length label {
                display: none;
            }

            .dataTables_length select {
                margin-right: 4px;
                margin-top: -6px;
                float: right;
            }

            .text-black-2,
            .text-black-2 div:not(.tag-editor-spacer, .tag-editor-tag, .tag-editor-delete) {
                color: #333 !important;
            }

            .text-black-3 {
                color: #555 !important;
            }

            .text-black-4 {
                color: #777 !important;
            }

            .text-black-5 {
                color: #999 !important;
            }

            .text-black-6 {
                color: #bbb !important;
            }

            .text-underline {
                border-bottom: 1px solid;
                padding-bottom: 2px;
                padding-left: 4px;
                padding-right: 4px;
            }
        </style>
        <!-- Web Fonts  -->
        <link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap" rel="stylesheet" type="text/css" />
        <!-- Vendor CSS -->
        <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="vendor/fontawesome-free/css/all.min.css" />
        <link rel="stylesheet" href="vendor/animate/animate.compat.css" />
        <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.min.css" />
        <link rel="stylesheet" href="vendor/owl.carousel/assets/owl.carousel.min.css" />
        <link rel="stylesheet" href="vendor/owl.carousel/assets/owl.theme.default.min.css" />
        <link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.min.css" />
        <!-- Theme CSS -->
        <link rel="stylesheet" href="css/theme.css" />
        <link rel="stylesheet" href="css/theme-elements.css" />
        <link rel="stylesheet" href="css/theme-blog.css" />
        <link rel="stylesheet" href="css/theme-shop.css" />
        <!-- Demo CSS -->
        <link rel="stylesheet" href="css/demo-product-landing.css" />
        <!-- Skin CSS -->
        <link id="skinCSS" rel="stylesheet" href="css/skin-product-landing.css" />
        <!-- Theme Custom CSS -->
        <link rel="stylesheet" href="css/custom.css" />
        <!-- Head Libs -->
        <script src="vendor/modernizr/modernizr.min.js"></script>
    </head>
    <body data-plugin-scroll-spy data-plugin-options="{'target': '#header'}">
        <div class="body">
            <header id="header" data-plugin-options="{'stickyEnabled': false, 'stickyEnableOnBoxed': false, 'stickyEnableOnMobile': false, 'stickyStartAt': 135, 'stickySetTop': '-135px', 'stickyChangeLogo': false}">
                <div class="header-body header-body-bottom-border-fixed box-shadow-none border-top-0">
                    <div class="header-top header-top-small-minheight header-top-simple-border-bottom">
                        <div class="container">
                            <div class="header-row justify-content-between">
                                <div class="header-column col-auto px-0">
                                    <div class="header-row">
                                        <p class="font-weight-semibold text-1 mb-0 d-none d-sm-block d-md-none">VENDA DE ARTIGOS HOSPITALARES</p>
                                        <p class="font-weight-semibold text-1 mb-0 d-none d-md-block">VENDA DE ARTIGOS HOSPITALARES</p>
                                    </div>
                                </div>
                                <div class="header-column justify-content-end col-auto px-0">
                                    <div class="header-row">
                                        <nav class="header-nav-top">
                                            <ul class="nav nav-pills font-weight-semibold text-2">
                                                <li class="nav-item dropdown nav-item-left-border d-lg-none">
                                                    <a class="nav-link text-color-default text-color-hover-primary" href="#" role="button" id="dropdownMobileMore" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Mais
                                                        <i class="fas fa-angle-down"></i>
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMobileMore">
                                                        <a class="dropdown-item" href="/aluguel/">Aluguel</a>
                                                        <a class="dropdown-item" href="/compra/">Compra</a>
                                                        <a class="dropdown-item" href="/reforma/">Reforma</a>
                                                        <a class="dropdown-item" href="/empresa/">A Empresa</a>
                                                    </div>
                                                </li>
                                                <li class="nav-item d-none d-lg-inline-block">
                                                    <a href="/aluguel/" class="text-decoration-none text-color-default text-color-hover-primary">Aluguel</a>
                                                </li>
                                                <li class="nav-item d-none d-lg-inline-block">
                                                    <a href="/compra/" class="text-decoration-none text-color-default text-color-hover-primary">Compra</a>
                                                </li>
                                                <li class="nav-item d-none d-lg-inline-block">
                                                    <a href="/reforma/" class="text-decoration-none text-color-default text-color-hover-primary">Reforma</a>
                                                </li>
                                                <li class="nav-item d-none d-lg-inline-block">
                                                    <a href="/a-empresa/" class="text-decoration-none text-color-default text-color-hover-primary">A Empresa</a>
                                                </li>
                                                <li class="nav-item dropdown nav-item-left-border">
                                                    <a class="nav-link text-color-default text-color-hover-primary" href="#" role="button" id="dropdownCurrency" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        {end-t1}
                                                        <i class="fas fa-angle-down"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-arrow-centered min-width-0" aria-labelledby="dropdownCurrency">
                                                        <a class="dropdown-item" href="tel:+55{end-p1}" target="_blank"><i class="fas fa-phone-alt"></i> &nbsp; {end-p1}</a>
                                                        <a class="dropdown-item" href="{end-m1}" target="_blank"><i class="fas fa-map-marker-alt"></i>{end-l1}</a>
                                                    </div>
                                                </li>
                                                <li class="nav-item dropdown nav-item-right-border">
                                                    <a class="nav-link text-color-default text-color-hover-primary" href="#" role="button" id="dropdownLanguage" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        {end-t2}
                                                        <i class="fas fa-angle-down"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-arrow-centered min-width-0" aria-labelledby="dropdownLanguage">
                                                        <a class="dropdown-item" href="tel:+55{end-p2}" target="_blank"><i class="fas fa-phone-alt"></i> &nbsp; {end-p2}</a>
                                                        <a class="dropdown-item" href="{end-m2}" target="_blank"><i class="fas fa-map-marker-alt"></i>{end-l2}</a>
                                                    </div>
                                                </li>
                                            </ul>
                                            <ul class="header-social-icons social-icons social-icons-clean social-icons-icon-gray">
                                                <li class="social-icons-instagram">
                                                    <a href="{instagram}" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
                                                </li>
                                                <li class="social-icons-facebook">
                                                    <a href="{facebook}" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-container container">
                        <div class="header-row py-2">
                            <div class="header-column w-100">
                                <div class="header-row justify-content-between">
                                    <div class="header-logo z-index-2 col-lg-2 px-0">
                                        <a href="/">
                                            <img alt="Amparar - Aluguel, Venda, Compra e Reforma de equipamentos médicos-ortopédicos" height="48" data-sticky-width="82" data-sticky-height="48" data-sticky-top="84" src="{logotipo}" />
                                        </a>
                                    </div>
                                    <div class="header-nav-features header-nav-features-no-border col-lg-5 col-xl-6 ms-0">
                                        <div class="header-nav-feature ps-lg-5 pe-lg-4">
                                            <form role="search" action="/pesquisa/" method="get">
                                                <div class="search-with-select">
                                                    <a href="#" class="mobile-search-toggle-btn me-2" data-porto-toggle-class="open">
                                                        <i class="icons icon-magnifier text-color-dark text-color-hover-primary"></i>
                                                    </a>
                                                    <div class="search-form-wrapper input-group">
                                                        <input class="form-control text-1" id="headerSearch" name="q" type="search" value="" placeholder="Qual produto deseja?" />
                                                        <div class="search-form-select-wrapper">
                                                            <button class="btn" type="submit">
                                                                <i class="icons icon-magnifier header-nav-top-icon text-color-dark"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <ul class="header-extra-info col-lg-2 col-xl-3 ps-2 ps-xl-0 ms-lg-3 d-none d-lg-block">
                                        <li class="d-none d-sm-inline-flex ms-0">
                                            <div class="header-extra-info-icon ms-lg-4">
                                                <i class="icons fab fa-whatsapp text-3 text-color-dark position-relative top-1"></i>
                                            </div>
                                            <div class="header-extra-info-text">
                                                <label class="text-1 font-weight-semibold text-color-default">URGÊNCIA</label>
                                                <strong class="text-4"><a href="https://api.whatsapp.com/send?phone=55{whatsapp1}" class="text-color-hover-primary text-decoration-none">{whatsapp1}</a></strong>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="d-flex col-auto col-lg-3 pe-0 ps-0 ps-xl-3">
                                        <ul class="header-extra-info">
                                            <li class="me-2 ms-2">
                                                <div class="header-extra-info-icon">
                                                    <a href="/favoritos/" class="text-decoration-none text-color-dark text-color-hover-primary text-3-5">
                                                        <i class="icons icon-heart"></i>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="header-nav-features ps-0 ms-1">
                                            <div class="header-nav-feature header-nav-features-cart header-nav-features-cart-big d-inline-flex top-2 ms-2">
                                                <a href="javsacript:;" class="header-nav-features-toggle text-decoration-none">
                                                    <i class="icon-basket icons header-nav-top-icon-img"></i>
                                                    <span class="cart-info">
                                                        <span class="cart-qty"></span>
                                                    </span>
                                                </a>
                                                <div class="header-nav-features-dropdown" id="headerTopCartDropdown" style="right: 96px;">
                                                    <ol class="mini-products-list">

                                                    </ol>
                                                    <div class="totals">
														<span class="cart-info-txt" style="font-size: 10px;color: #d00;"></span>
                                                        <span class="label">Total:</span>
                                                        <span class="price-total"><span class="price"></span></span>
                                                    </div>
                                                    <div class="actions fechar_pedido">
                                                        <a class="btn btn-primary" href="/fechar_pedido/">Fechar Pedido</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-nav-bar header-nav-bar-top-border bg-light">
                        <div class="header-container container">
                            <div class="header-row">
                                <div class="header-column">
                                    <div class="header-row justify-content-end">
                                        <div
                                            class="header-nav header-nav-line header-nav-top-line header-nav-top-line-with-border justify-content-start"
                                            data-sticky-header-style="{'minResolution': 991}"
                                            data-sticky-header-style-active="{'margin-left': '105px'}"
                                            data-sticky-header-style-deactive="{'margin-left': '0'}"
                                        >
                                            <div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-3 header-nav-main-sub-effect-1 w-100">
                                                <nav class="collapse w-100">
                                                    <ul class="nav nav-pills w-100" id="mainNav">
														{menu_loja}
														{perfil-ou-login}
													</ul>
                                                </nav>
                                            </div>
                                            <button class="btn header-btn-collapse-nav" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
                                                <i class="fas fa-bars"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            {PAGE_CONTENT}
            <footer id="footer" class="bg-transparent border-0 mt-0">
                <div class="container py-5">
                    <div class="row text-center text-lg-start pt-4">
                        <div class="col-lg-5 col-xl-4 mb-4 mb-lg-0">
                            <h4 class="font-weight-bold text-4-5 mb-3">Institucional</h4>
                            <ul class="list list-unstyled d-flex flex-column flex-sm-row justify-content-sm-center justify-content-lg-start mb-0">
                                <li class="line-height-3 mb-0">
                                    <a href="/politica-de-privacidade/" class="text-decoration-none text-color-hover-primary">Política de Privacidade</a>
                                </li>
                                <li class="line-height-3 border border-top-0 border-bottom-0 px-sm-3 mx-sm-3 mt-2 mt-sm-0 mb-0">
                                    <a href="/trocas-e-devolucoes/" class="text-decoration-none text-color-hover-primary">Trocas e Devoluções</a>
                                </li>
                                <li class="line-height-3 mt-2 mt-sm-0 mb-0">
                                    <a href="/garantia-dos-produtos/" class="text-decoration-none text-color-hover-primary">Garantia dos Produtos</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-xl-2 offset-xl-2 mb-4 mb-lg-0">
                            <h4 class="font-weight-bold text-4-5 mb-3">Redes Sociais</h4>
                            <ul class="social-icons social-icons-medium social-icons-clean-with-border social-icons-clean-with-border-border-grey social-icons-clean-with-border-icon-dark me-3 mb-0">
                                <li class="social-icons-instagram mx-2">
                                    <a href="{instagram}" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li class="social-icons-facebook mx-2">
                                    <a href="{facebook}" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-xl-3 offset-xl-1">
                            <h4 class="font-weight-bold text-4-5 mb-3">Formas de Pagamento</h4>
                            <div class="payment-cc payment-cc-no-hover-effect text-color-dark justify-content-center justify-content-lg-start">
                                <img alt="Formas de Pagamento" src="img/visa-master.png" height="35" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright bg-transparent">
                    <div class="container py-2">
                        <hr class="bg-dark opacity-1 m-0" />
                        <div class="row">
                            <div class="col text-center py-4">
                                <p class="mb-0">
                                    © Copyright Amparar 2013-{year}. All Rights Reserved. <br />
                                    <a href="http://www.agenciahetsi.com.br" target="_blank"><img src="img/logo_hetsi.png" alt="hetsi - Agência Web e Mobile" /></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- Vendor -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/jquery.appear/jquery.appear.min.js"></script>
        <script src="vendor/jquery.easing/jquery.easing.min.js"></script>
        <script src="vendor/jquery.cookie/jquery.cookie.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="vendor/jquery.validation/jquery.validate.min.js"></script>
        <script src="vendor/lazysizes/lazysizes.min.js"></script>
        <script src="vendor/isotope/jquery.isotope.min.js"></script>
        <script src="vendor/owl.carousel/owl.carousel.min.js"></script>
        <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="vendor/vide/jquery.vide.min.js"></script>
        <script src="vendor/vivus/vivus.min.js"></script>
        <script src="vendor/jquery.countdown/jquery.countdown.min.js"></script>
        <!-- Theme Base, Components and Settings -->
        <script src="js/theme.js"></script>
        <!-- Current Page Vendor and Views -->
        <script src="js/views/view.shop.js"></script>
        <!-- Demo -->
        <script src="js/demo-product-landing.js"></script>
        <!-- Theme Custom -->
        <script src="js/custom.js"></script>
        <!-- Theme Initialization Files -->
        <script src="js/theme.init.js"></script>
        <script src="js/site/functions2.js" lwdk-addons lwdk-vars="on"></script>
        <script src="js/site/carrinho.js" lwdk-addons lwdk-vars="on"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
		<script src="vendors/dropzone/dist/dropzone.js" type="text/javascript"></script>
        <script src="js/Sortable.min.js" type="text/javascript"></script>
		<script src="vendors/jquery.repeater/jquery.repeater.min.js"></script>
		<script src="js/forms/repeater.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.16.6/sweetalert2.all.min.js" integrity="sha512-jQxNe7fqaqehR3t/JfoxC8y2dwkEIL/7a6JWbs6sQdSCI/6Kd0t2okI9nhuKeSUgM5JDTDgdUzLzSPovB2lOBQ==" crossorigin="anonymous"></script>
        <!-- Examples -->
        <script src="js/examples/examples.gallery.js"></script>
    </body>
</html>
